/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */
.flex {
  display: flex;
}

body {
  width: 650px;
  margin: auto;
}

header {
  width: 90%;
  margin: auto;
  padding: 20px 0;
}

nav {
  width: 75%;
  align-items: center;
}

nav a {
  width: calc(100% / 6);
  color: lightgray;
  text-decoration: none;
  font-size: 60%;
}

a {
  display: block;
  width: 25%;
}

a > img {
  width: 100%;
}

.top-section {
  width: 90%;
  margin: 50px auto 50px auto;
  align-items: center;
}

.title-div {
  display: flex;
  width: 50%;
  text-align: center;
  flex-direction: column;
}

.top-img {
  width: 50%;
  padding-left: 25px;
}

button {
  width: 30%;
  padding: 5px;
  margin: auto;
  border: 1px solid black;
}

.middle-section {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  width: 90%;
  margin: auto;
}

.top {
  width: 50%;
  flex-direction: column;
  padding: 20px 0;
}

.middle-img {
  width: 100%;
}

.bottom {
  width: calc(100% / 3);
  flex-direction: column;
  padding: 20px 0;
}

.contact-section {
  width: 90%;
  margin: auto;
  padding: 20px 0;
}

footer {
  text-align: center;
  padding: 20px 0 100px 0;
}

h1 {
  font-size: 300%;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 12px;
  margin-bottom: 10px;
}

p, footer {
  font-size: 10px;
}

.img-wrapper {
  width: 90%;
  margin: 0 auto 20px auto;
  
}

.services-header-img {
  width: 100%;
}

.services-top {
  width: 90%;
  margin: 0 auto 30px auto;
}

ul, .services-top p, .services-content-box p, .bottom-left p {
  font-size: 10.5px;
}

.services-content {
  width: 90%;
  margin: auto;
  padding: 10px 0;
  justify-content: space-between;
  flex-wrap: wrap;
  border-top: 1px solid black;
  border-bottom: 2px solid black;
}

.services-content-box {
  flex-direction: column;
  width: 47%;
  padding: 15px;
  margin: 20px 0 20px 0;
  background-color: #f4f3f4;
  border: 1px solid black;
}

.services-button {
  width: 45%;
  margin: 10px 0 0;
  font-size: 8px;
}

.services-bottom {
  width: 90%;
  margin: auto;
  padding: 30px 0 50px;
  justify-content: space-between;
}

.bottom-left {
  flex-direction: column;
  width: 47%;
}

.bottom-left ul {
  padding-top: 20px;
}

li {
  margin-bottom: 10px;
}

li:before {
  content: "•";
  padding-right: 10px;
}

.services-info-img {
  width: 48%;
}